
<div class="" style="background-color: #6E757D; overflow: auto; ">
   
<div class="container">
    <div class="row">
            <form class="col-sm-4 mx-auto" style="padding-bottom: 20%; padding-top: 15%;" >
                <div class="card">
                    
                  <div class="card-body">

                    <h1 class="h3 mb-3 font-weight-normal">Qual o tipo de livro?</h1>
                        
                        
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit"  routerLink='/showBooksByStudent' style="margin-top: 2%;">Didático</button>
                      		
                      	<button class="btn btn-lg btn-block btn-outline-dark" type="submit" style="margin-top: 2%;" routerLink='/showBooksLiteraryByStudentComponent'>Literário</button>
                      
                    
                  </div>

                </div>
           
            </form>
        
    </div>
</div>
    
</div>





