
<section class="section-content bg padding-y">
    <div class="container">
    
    <div class="row">
        
        
        <main class="col-sm-9">
    
            <tr>
                <article class="card card-product">
                    <div class="card-body">
                    <div class="row">
                        <aside class="col-sm-3">
                            <div class="img-wrap"><img src="" style="width: 150px; height: 150px;"></div>
                        </aside> <!-- col.// -->
                        <article class="col-sm-6">
                                <h4 class="title">Título  </h4>
                              
                                <p>Descrição </p>
                                <dl class="dlist-align">
                                  <dt>Autor</dt>
                                  <dd>{{livro['id']}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Curso</dt>
                                  <dd>{{course.nome}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Disciplina</dt>
                                  <dd>{{course.nome}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Período</dt>
                                  <dd>{{course.nome}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Estudante</dt>
                                  <dd>{{student.username}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                            
                        </article> <!-- col.// -->
                        <aside class="col-sm-3 border-left">
                            <div class="action-wrap">
                                <div class="price-wrap h4">
                                    <span class="price"> R$  </span>	
                                    <!-- <del class="price-old"> $98</del> -->
                                </div> <!-- info-price-detail // -->
                                <br>
                                <p>
                                    <!-- <a href="#" class="btn btn-primary"> Buy now </a> -->
                                    <input type="button" name="" class="btn btn-secondary" (click)="botaoClicado(livro.id)" value="Mais Detalhes">
                                </p>
                                <a href="#"><i class="fa fa-heart"></i> Adicionar aos favoritos</a>
                            </div> <!-- action-wrap.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- card product .// -->
            </tr>
  
        </main> <!-- col.// -->

    </div>
    
    </div> <!-- container .//  -->
    </section>

