<div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
        
        <form>
            

            <div class="form_line">
                <label>Image:</label>
                <div class="form_controls">
                    <div class="upload_button_holder">
                        <label class="upload_button" for="fileupload">Upload</label>
                        <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
                        <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                            multiple />
                    </div>
    
                </div>
            </div>
        </form>
        
        <h2>Status</h2>
        
        <div class="file" *ngFor="let response of responses; let i = index">
            <h3>{{response.file.name}}</h3>
        
            <div class="status">
                Enviando... {{response.progress}}%
                <div *ngIf="!response.status">Em progresso</div>
                <div class="status-code" *ngIf="response.status">Upload da foto Completo {{response.status}}</div>
            </div>
            
            <div class="progress-bar">
                <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
            </div>
            
            <div class="info">
                <table>
                    <tr *ngFor="let property of getFileProperties(response.data)">

                        <ng-template #show_data>
                                <td> {{ property.key }} </td>
                                <td> {{ property.value | json}} </td>
                        </ng-template>

                    </tr>
                </table>
            </div>
        </div>
    
    </div>
    

