<footer class="text-muted">
  <div class="container">
  
  		


 		<p class="float-right" style="padding-top: 3%;">
    	Powered by 
    	<a href="https://www.angular.io"><img src="../assets/images/angular_logo.svg" style="width: 8%; height: 8%;"></a> 

    	<a href="https://www.grails.org"><img src="../assets/images/grails_logo.svg" style="width: 7%; height: 7%; margin-left: 1%;"></a>
    	 </p>

    	
    	 
  	</div>

  	 <div class="container"  >
  

		<p style="padding-top: 3%;">Feito com <i class="fas fa-heart"></i> por merciof.</p>
    	<!-- <a href="https://www.grails.org"><img src="../assets/images/grails_logo.svg" style="width: 8%; height: 8%;"></a> -->

   
    	 

   
    	
  	</div>
    
    <!-- <p class="" style="padding-left: 80%; padding-top: 3%;">
    	Powered by 
    	<a href="https://www.angular.io"><img src="../assets/images/angular_logo.svg" style="width: 10%; height: 10%;"></a> 
    	<a href="https://www.grails.org"><img src="../assets/images/grails_logo.svg" style="width: 8%; height: 8%;"></a>

   
    </p> -->

    

    

</footer>

