<footer class="text-muted">
  <div class="container">
    <p class="float-right">
    	Powered by 
    	<a href="https://www.angular.io"><img src="../assets/images/angular_logo.svg" style="width: 10%; height: 10%;"></a> 
    	<a href="https://www.grails.org"><img src="../assets/images/grails_logo.svg" style="width: 8%; height: 8%;"></a>

      <!-- <a href="#">Voltar ao tpo.</a> -->
    </p>
    


    <p style="margin-top: 20px;">Feito com <i class="fas fa-heart"></i> por merciof.</p>
    
  </div>
</footer>

