<!-- ========================= SECTION INTRO ========================= -->
<section id="intro" class="section-intro bg-secondary pt-5">
    <div class="container">
        <div class="row d-flex" style="min-height:600px;">
            <div class="col-sm-6 d-flex align-items-center">
                <header class="intro-wrap text-white">
                    <h2 class="display-3"> Anuncie os seus livros usados</h2>
                    <p class="lead">O Sebo Rural é um espaço digital gratuito para o compartilhamento de livros entre
                        estudantes da UFRPE. <br> </p>
                    <a routerLink="/userLogin" class="btn-lg btn-dark text-center" 
                    style=" font-size: 20px; ">Entrar</a>
                </header> <!-- intro-wrap .// -->
            </div> <!-- col.// -->
            <div class="col-sm-6 text-right">
                <img src="../../assets/images/comp.png" class="img-fluid my-5" width="500">
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION FEATURES ========================= -->
<section id="features" class="section-features bg2 padding-y-lg">
    <div class="container">

        <header class="section-heading text-center">
            <h2 class="title-section">Como funciona </h2>
            <p class="lead"> Fazemos a conexão entre estudantes </p>
        </header><!-- sect-heading -->

        <!-- <p class="text-center">
        <br>
        <a href="#" class="btn btn-warning">Some action button</a>
    </p> -->



        <div class="row">
            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/Asset 80.png" style="width: 25%; margin-bottom: 20px;" alt="">
                        <figcaption class="text-wrap">
                            <h5 class="title">Anuncie seus livros</h5>
                            <p class="text-muted">Adicione informações como curso, período e disciplina aos quais o
                                livro se aplica. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div><!-- col // -->
            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/Asset 490.png" style="width: 30%; margin-bottom: 20px;" alt="">
                        <figcaption class="text-wrap">
                            <h5 class="title">Sem curso com frete</h5>
                            <p class="text-muted">Defina um ponto de encontro dentro da universidade para realizar a
                                troca ou venda. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->
            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/Asset 960.png" style="width: 15%; margin-bottom: 20px;" alt="">
                        <span class=""><i class="fa fa-clock white"></i>
                        </span>
                        <figcaption class="text-wrap">
                            <h5 class="title">De qualquer lugar</h5>
                            <p class="text-muted">Acesse pelo navegador de internet do seu smartphone. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->

            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/Asset 189.png" style="width: 22%; margin-bottom: 20px;" alt="">
                        <span class=""><i class="fa fa-clock white"></i>
                        </span>
                        <figcaption class="text-wrap">
                            <h5 class="title">Salve o planeta</h5>
                            <p class="text-muted">Reutilize livros, economize dinheiro, gere menos lixo e prezerve a
                                natureza. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->

        </div> <!-- row.// -->


    </div><!-- container // -->
</section>
<!-- ========================= SECTION FEATURES END// ========================= -->

<!-- ========================= SECTION CONTENT  ========================= -->

<header class="section-heading text-center">
    <h2 class="title-section" style="margin-top: 70px;">Veja um exemplo de anúncio </h2>
    <p class="lead"> Anuncie em menos de 1 minuto </p>
</header>

<div class="">
    <div class="row no-gutters">
        <aside class="col-sm-6">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <div> <a href="images/items/1.jpg" data-fancybox=""><img
                                src="../../assets/images/580b585b2edbce24c47b276b.png" style="padding-left: 10%;"></a></div>
                  
                </div> <!-- slider-product.// -->
                <!-- <div class="img-small-wrap">
      <div class="item-gallery"> <img src="images/items/1.jpg"></div>
      <div class="item-gallery"> <img src="images/items/2.jpg"></div>
      <div class="item-gallery"> <img src="images/items/3.jpg"></div>
      <div class="item-gallery"> <img src="images/items/4.jpg"></div>
    </div>  -->
            </article> <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-6" >
            <article class="p-5" >
                <h3 class="title mb-3">Genética Básica para Veterinária</h3>

                <div class="mb-3">
                    <var class="price h3 text-warning">
                        <span class="currency">R$</span><span class="num">40.00</span>
                    </var>
                </div> <!-- price-detail-wrap .// -->

                <dl>
                    <dt>Descrição</dt>
                    <dd>
                        <p>Pequena descrição sobre o livro e o seu estado de conservação. </p>
                    </dd>
                </dl>
                <dl class="row">
                    <!-- <dt class="col-sm-3">Titulo</dt>
      <dd class="col-sm-9">12345611</dd> -->

                    <dt class="col-sm-3">Autor:</dt>
                    <dd class="col-sm-9">Fulano de Tal </dd>

                    <dt class="col-sm-3">Curso:</dt>
                    <dd class="col-sm-9">Medicina Veterinária </dd>

                    <dt class="col-sm-3">Período:</dt>
                    <dd class="col-sm-9">2º período </dd>

                    <dt class="col-sm-3">Disciplina:    </dt>
                    <dd class="col-sm-9">Biofísica </dd>

                    <dt class="col-sm-3">Data do anúncio: </dt>
                    <dd class="col-sm-9">01/01/2020</dd>

                    <dt class="col-sm-3">Anunciante: </dt>
                    <dd class="col-sm-9">Fulano de Tal </dd>

                    

                </dl>



                <!-- <a href="#" class="btn  btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Adicionar a favoritos </a> -->
            </article> <!-- card-body.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->

<!-- ========================= SECTION CONTENT  END// ========================= -->


<!-- ========================= SECTION CONTENT ASIDE ========================= -->
<section id="more" class="bg section-content padding-y-lg">
    <div class="container">

        <header class="section-heading text-center">
            <h2 class="title-section"> Saiba um pouco mais</h2>
            
        </header><!-- sect-heading -->

        <div class="row justify-content-center">
            <article class="col-md-6 text-center">

                <p>Segundo relatório publicado pelo  UNESCO-IHE Institue of Water Education, para a fabricação de papel há um
                    consumo estimado entre 300 e 2600 metros cúbicos por tonelada, o equivalente a 2 a 13 litros por
                    folha A4.</p>

                <p>A principal matéria-prima para a produção de papel é a celulose. Ela é extraída a partir da madeira do Eucalipto, espécie exótica que inibe o crescimento das espécies nativas , e consome, durante o seu desenvolvimento, cerca de 30 litros de água por dia provenientes dos mananciais aquíferos e lençóis freáticos, acarretando prejuízos à fauna e à flora. </p>



            </article> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT ASIDE END// ========================= -->