<!-- ========================= SECTION INTRO ========================= -->
<section id="intro" class="bg-secondary">
    <div class="container">
        <div class="row d-flex" style="">
            <div class="col-sm-6" style="padding-top: 15%;" >
                <header class="text-white">
                    <h1 class="display-3"> <strong>Anuncie os seus livros usados</strong> </h1>
                    <p class="lead">O Sebo Rural é um espaço digital gratuito para o compartilhamento de livros entre
                        estudantes da UFRPE. <br> </p>
                    <!-- <a routerLink="/userLogin" class="btn-lg btn-dark text-center"
                    style=" font-size: 20px; ">Entrar</a> -->
                </header> <!-- intro-wrap .// -->   
            </div> <!-- col.// -->
            <div class="col-sm-6" style="padding-top: 2%; padding-bottom: 2%;">
                <img src="../../assets/images/men.png" class="" style="padding-left: 12%; width: 75%;"  >
            </div> <!-- col.// -->
        </div> <!-- row.// -->  
    </div> <!-- container .//  -->
</section>  
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION FEATURES ========================= -->
<section id="features" class="section-features bg2 padding-y-lg">
    <div class="container">

        <header class="section-heading text-center">
            <h2 class="title-section">Como funciona?</h2>
            <p class="lead"> Fazemos a conexão entre estudantes </p>
        </header><!-- sect-heading -->

        <!-- <p class="text-center">
        <br>
        <a href="#" class="btn btn-warning">Some action button</a>
    </p> -->



        <div class="row" style="margin-top: 3%;">
            <div class="col-md-3 mb15" >
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/icons8-book-shelf-100.png" alt="prateleira com livros">
                        <figcaption class="text-wrap">
                            <h5 class="title">Anuncie seus livros</h5>
                            <p class="text-muted">Adicione informações como curso, período e disciplina aos quais o
                                livro se aplica. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// --> 
            </div><!-- col // -->
            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/icons8-money-128.png" style="width: 40%; height: 40%; padding-bottom: 7%;" alt="">
                        <figcaption class="text-wrap">
                            <h5 class="title">Sem custo com frete</h5>
                            <p class="text-muted">Defina um ponto de encontro dentro da universidade para realizar a
                                troca ou venda. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->
            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/icons8-touchscreen-128.png" style="width: 40%; height: 40%; padding-bottom: 7%; padding-top: 3%;" alt="">
                        <span class=""><i class="fa fa-clock white"></i>
                        </span>
                        <figcaption class="text-wrap">
                            <h5 class="title">De qualquer lugar</h5>
                            <p class="text-muted">Acesse pelo navegador de internet do seu smartphone. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->

            <div class="col-md-3 mb15">
                <article class="box h-100">
                    <figure class="itembox text-center">
                        <img src="../../assets/images/icons8-globe-earth-128.png" style="width: 40%; height: 40%; padding-bottom: 7%;" alt="">
                        <span class=""><i class="fa fa-clock white"></i>
                        </span>
                        <figcaption class="text-wrap">
                            <h5 class="title">Salve o planeta</h5>
                            <p class="text-muted">Reutilize livros, economize dinheiro, gere menos lixo e prezerve a
                                natureza. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->

        </div> <!-- row.// -->


    </div><!-- container // -->
</section>
<!-- ========================= SECTION FEATURES END// ========================= -->

<!-- ========================= SECTION CONTENT  ========================= -->

<header class="section-heading text-center">
    <h2 class="title-section" style="margin-top: 3%;">Veja um exemplo de anúncio </h2>
    <p class="lead"> Anuncie em menos de 1 minuto </p>
</header>

<div class="">
    <div class="row no-gutters ">
       <main class="col-sm-6 mx-auto" style="margin-bottom: 3%;">
        
            <tr>
                <article class="card card-product" style="margin-top: 2%;">
                    <div class="card-body">
                    <div class="row mx-auto">
                        <aside class="col-sm-3" style="padding-top: 10%; padding-bottom: 5%;">
                            <div class="img-wrap"><img src="../../assets/images/icons8-book-150.png" style=""></div> 
                            <!-- transform: rotate(90deg) -->
                        </aside> <!-- col.// -->
                        <article class="col-sm-6 " style="">
                                <h4 class="title">Genética Básica para Veterinária</h4>
                              
                                <p>Pequena descrição sobre o livro e o seu estado de conservação.</p>
                                <dl class="dlist-align">
                                  <dt>Autor</dt>
                                  <dd>Fulano de Tal</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Curso</dt>
                                  <dd>Medicina Veterinária</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Disciplina</dt>
                                  <dd>Biofísica</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Período</dt>
                                  <dd>2º</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Estudante</dt>
                                  <dd>Fulano de Tal</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>E-mail para contato</dt>
                                  <dd>emailcontato@email.com</dd>
                                </dl>  <!-- item-property-hor .// -->
                            
                        </article> <!-- col.// -->
                        <aside class="col-sm-3 border-left" >
                            <div class="action-wrap">
                                <div class="price-wrap h4">
                                    <span class="price"> R$ 20 </span>  
                                    <!-- <del class="price-old"> $98</del> -->
                                </div> <!-- info-price-detail // -->
                                <br>
                                <!-- <input type="button" name="" class="btn btn-secondary" (click)="favoritar(livro['id'])" value="Editar"> <br> <br>
                                <input type="button" name="" class="btn btn-secondary" (click)="favoritar(livro['id'])" value="Deletar"> <br> <br> -->
                                <input type="button" name="" class="btn btn-outline-dark" value="Favoritar livro">
                                <!-- <a href="#"><i class="fa fa-heart"></i> Adicionar aos favoritos</a> -->
                            </div> <!-- action-wrap.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- card product .// -->
            </tr>
  
        </main> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->

<!-- ========================= SECTION CONTENT  END// ========================= -->


<!-- ========================= SECTION CONTENT  ========================= -->



<div class="">
    <div class="row no-gutters" style="background-color:  #6E757D;">
        <aside class="col-sm-12" >
            <div class="lead text-white text-center" style="padding-top: 5%;">
                <strong style="font-size: 22px;">Contribua! Nos dê a sua opinião, sugira ajustes ou novas funcionalidades! Clique <a href="https://docs.google.com/forms/d/1V3mKlu-gp-rFFgIXE6de8pNOgJLuIfzzGeqO1LdOmtY" target="_blank" rel="noopener noreferrer" class="text-white">aqui</a> ou na imagem abaixo. </strong>
                
            </div>
          
                    <div class="text-center" style="padding-top: 3%; padding-bottom: 5%;"> <a href="https://docs.google.com/forms/d/1V3mKlu-gp-rFFgIXE6de8pNOgJLuIfzzGeqO1LdOmtY" target="_blank" rel="noopener noreferrer" data-fancybox=""><img class="" 
                                src="../../assets/images/icons8-survey-144.png" style=""></a></div>
                    
           
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->

<!-- ========================= SECTION CONTENT  END// ========================= -->

<!-- ========================= SECTION CONTENT ASIDE ========================= -->
<section id="more" class="bg section-content padding-y-lg">
    <div class="container">

        <header class="section-heading text-center">
            <h2 class="title-section"> Saiba um pouco mais</h2>

        </header><!-- sect-heading -->

        <div class="row justify-content-center">
            <article class="col-md-6 text-center">

                <p>Segundo relatório publicado pelo UNESCO-IHE Institue of Water Education (VAN OEL e HOEKSTRA, 2010), para a fabricação de papel há um consumo estimado entre 300 e 2600 metros cúbicos por tonelada de papel de papel produzido. Isso é equivalente a 2 a 13 litros por folha A4..</p>

                <p>A principal matéria-prima para a produção de papel é a celulose. Ela é extraída a partir da madeira do Eucalipto (Eucalyptus). O Eucalipto é uma espécie exótica e inibe o crescimento das espécies nativas (RASMO et al., 2001; GOETZE e THOMÉ, 2004). Ele consome durante o seu desenvolvimento cerca de 30 litros de água por dia. Essa água é proveniente dos mananciais aquíferos e lençóis freáticos e acarreta prejuízos a fauna e a flora. </p>


            </article> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT ASIDE END// ========================= -->

