  

<header style="margin-bottom: 0;">
     <nav class="navbar navbar-expand-md fixed-top bg-light" style="" >
        <a class="navbar-brand" style="margin-left: 5%;"><img class="logo" src="../../assets/images/favicon.png">
              <span style="">Sebo Rural</span>  <span style="color: red; font-size: 14px; margin-left: 2%;"> Beta </span></a>
        
        <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav ml-auto" style="margin-right: 5%;">

                        <li class="nav-item float-right">
                          <a class="nav-link" style="color: black;" routerLink="/newHomePage">Início</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link"  style="color: black;" routerLink="/userLogin">Entrar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  style="color: black;" routerLink='/createBook'>Anunciar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color: black;" routerLink='/createUser'>Cadastrar-se</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color: black;" href="#">Contato</a>
                        </li>

           
          </ul>
           <form class="form-inline my-2 my-lg-0">
      
        </form>
        </div>
      </nav>
</header>
        


       
