<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Início</a>
    
    
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/createBook']">Anunciar<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/createStudent']">Cadastrar-se</a>
       
      </div>
    </div>
  
    
    
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav> -->

  <div class="relative" data-spy="scroll" data-target=".navbar-landing">
    <div class="section-header">
        <nav class="navbar navbar-landing navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mr-auto" href="#"> <img class="logo" src="../../assets/images/open-book.png">
                    Sebo Rural</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#intro">Cadastre-se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/createBook">Anuncie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#content">Contato</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link page-scroll" href="#more">More info</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="http://bootstrap-ecommerce.com"> Download </a>
                        </li> -->
                    </ul>
                </div>
            </div> <!-- container //  -->
        </nav>
    </div>
</div>
