<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/newHomePage" style="margin-left: 5%;"><img class="logo" src="../../assets/images/favicon.png">

              <span style="">Sebo Rural</span>  <span style="color: red; font-size: 14px;"> Beta </span> </a>
              <span><img src="../../assets/images/icons8-color-48.png" style="height: 80%; width: 80%; padding-left: 3%;"></span>
  
   <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto" style="margin-left: 35%;">
       <li class="nav-item">
                          <a class="nav-link" style="color: black;" routerLink="/newHomePage">Início</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color: black;" *ngIf="servico.aux" routerLink='/createUser'>Cadastre-se</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link"   style="color: black;" *ngIf="servico.aux" (click)="entrar()" [routerLink]="">Entrar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  style="color: black;" routerLink='/chooseBookType'>Anunciar</a>
                        </li>

                        
                        <li class="nav-item">
                            <a class="nav-link"  style="color: black;" routerLink="/listBook">Acervo</a>
                        </li>

                       <!--  <li class="nav-item">
                            <a class="nav-link"  style="color: black;" [routerLink]="">Favoritos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  style="color: black;" (click)="mensagem()" [routerLink]="" >Mensagens</a>
                        </li> -->

                        <li class="nav-item">
                            <a class="nav-link"  style="color: black;" routerLink="/chooseOwnBookTypeComponent"> Seus Anúncios</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" style="color: black;" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/seborural/">Contato</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color: black;"  *ngIf="!servico.aux" (click)="sair()" [routerLink]="">Sair</a>
                        </li>
    </ul>
   
  </div>
</nav>
       
