<section class="section-content bg padding-y" style="padding-top: 1%; padding-bottom: 7%;">
    <div class="container">
    
    <div class="row">


        <aside class="col-sm-3">

        <form class="form-inline my-2 my-sm-0" style="padding-bottom: 5%;">
      <input class="form-control mr-sm-2" type="search" name="entradaBusca" [(ngModel)]="busca" placeholder="titulo ou autor" aria-label="Search" style="width: 65%;">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="buscarLivros()">Buscar</button>
    </form>
    
    <div class="card card-filter">
        <article class="card-group-item">
            <header class="card-header">

                <a class="title" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapse22">
                   <!--  <i class="icon-action fa fa-chevron-down"  ></i> -->
                    <h6 class="">Por Curso</h6>
                </a>
            </header>
            <div style="" class="filter-content collapse show" id="collapse22" data-target="#collapse22" [collapse]="isCollapsed" [isAnimated]="true" >
                <div class="card-body">
                    <!-- <form class="pb-3">
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                    </form> -->
    
                    <ul class="list-unstyled list-lg" *ngFor="let course of courses">
                        <li (click)="listBookByCourse(course.nome)"><a class="fakeLink" id="listCourse">{{course.nome}}</a> <span class="float-right badge badge-light round"></span> </li>
                        
                    </ul>   
                </div> <!-- card-body.// -->
            </div> <!-- collapse .// -->
        </article> <!-- card-group-item.// -->  
        
    </div> <!-- card.// -->
    
    
        </aside> <!-- col.// -->
        
        <main class="col-sm-9" style="padding-left: 1%;">
    
            <tr *ngFor="let livro of livros">
                <article class="card card-product" style="margin-top: 0%;">
                    <div class="card-body">
                    <div class="row">
                        <aside class="col-sm-3" style="margin-top: 2%;" >
                            <!-- transform: rotate(90deg);  -->
                            <div class="img-wrap" style="margin-top: 15%;"><img  src="{{livro.urlFoto}}" style="width: 70%; height: 70%;"></div>
                        </aside> <!-- col.// -->
                        <article class="col-sm-6">
                                <h4 class="title"> {{livro.titulo}} </h4>
                              
                                <p> {{livro.descricao}} </p>
                                <dl class="dlist-align">
                                  <dt>Autor</dt>
                                  <dd>{{livro.autor}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Disciplina</dt>
                                  <dd>{{livro.disciplina}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="dlist-align">
                                  <dt>Período</dt>
                                  <dd>{{livro.periodo}}</dd>
                                </dl>  <!-- item-property-hor .// -->
                              
                            
                        </article> <!-- col.// -->
                        <aside class="col-sm-3 border-left">
                            <div class="action-wrap">
                                <div class="price-wrap h4">
                                    <span class="price"> R$ {{livro.preco}} </span>	
                                    <!-- <del class="price-old"> $98</del> -->
                                </div> <!-- info-price-detail // -->
                                <br>
                                <p>
                                    <!-- <a href="#" class="btn btn-primary"> Buy now </a> -->
                                    <input type="button" name="" class="btn btn-outline-dark" (click)="botaoClicado(livro.id)" value="Mais Detalhes">
                                </p>
                                <!-- <a class="fakeLink badge-light " (click)="favoritar(livro.id)"><i class="fa fa-heart"></i> Adicionar aos favoritos</a> -->
                            </div> <!-- action-wrap.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- card product .// -->
            </tr>
  
        </main> <!-- col.// -->

    </div>
    
    </div> <!-- container .//  -->
    </section>
    
    



