<div  class="center" style="background-color: #6E757D;">
  
  <div class="container">
  <div class="row">
    <form class="col-sm-4 mx-auto" style="margin-bottom: 12%; margin-top: 12%;">

      <div class="card">
		  <div class="card-body">
		    <!-- Form Name -->
		      <h1 class="h3 mb-3 font-weight-normal">Qual o seu email?</h1>
		     
		      <!-- EMAIL-->
		      <div class="form-group">
		        <!-- <label class="control-label" for="autorLivro">Email:</label> -->

		        <input id="autorLivro" name="email" type="email" placeholder="email" class="form-control input-md" required=""
		          [(ngModel)]="email" style="margin-bottom: 5%;">

		          <button class="btn btn-lg btn-block btn-outline-dark" type="submit" (click)="envioEmailRecuperarSenha()" style="">Criar nova senha</button>

		      </div>
		    
		  </div>
	</div>

      
    </form>

    <!-- <div class="col-md-4" style="margin-top: 8%; " class="center">
      <img src="../../assets/images/technology.png" class="" style="width: 100%;" >
    </div>
 -->
  </div>
</div>
</div>





