<!-- <div class="container">
    <div class="row">
        

    </div>
</div> -->
<div class="" style="background-color: #6E757D; overflow: auto; ">
   
<div class="container">
    <div class="row">
         <div class="float-left"  style="">
            <form class="form-signin" style="margin-top: 30%; margin-left: 100%; padding-bottom: 85%;" >
                <div class="card" style="width: 26rem;">
                    
                  <div class="card-body">

                    <h1 class="h3 mb-3 font-weight-normal">Seja bem vindo</h1>
                        <label for="inputEmail" class="sr-only">Login</label>
                        <input type="text" id="inputEmail" class="form-control" placeholder="login" required autofocus [(ngModel)]="username" name="username">
                        <label for="inputPassword" class="sr-only">Senha</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="senha" required [(ngModel)]="password" name="password">
                        <!-- <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div> -->
                        <button class="btn btn-lg btn-primary btn-block btn-dark" type="submit" (click)="userLogin()">Entrar</button>
                        <div style="font-size: 14px; margin-top: 2%;">Clique <a routerLink="/createUser">aqui</a> para criar um conta.</div>
                    
                  </div>

                </div>
           
            </form>
        </div>
    </div>
</div>
       

       

       

        

    
</div>




