
<div class="" style="background-color: #6E757D; overflow: auto; ">
   
<div class="container">
    <div class="row">
            <form class="col-sm-4 mx-auto" style="padding-bottom: 20%; padding-top: 15%;" >
                <div class="card">
                    
                  <div class="card-body">

                    <h1 class="h3 mb-3 font-weight-normal">Seja bem vindo</h1>
                        <label for="inputEmail" class="sr-only">Login</label>
                        <input type="text" id="inputEmail" class="form-control" placeholder="login" required autofocus [(ngModel)]="username" name="username">
                        <label for="inputPassword" class="sr-only">Senha</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="senha" required [(ngModel)]="password" name="password">
                        <!-- <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div> -->
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit" (click)="userLogin()" style="margin-top: 2%;">Entrar</button>
                        <div style="padding-top: 4%;"><a routerLink='/emailPasswordRecovery'>Esqueceu a senha?</a></div>
                        <!-- <div style="font-size: 16px; padding-top: 4%;" class="text-center">Clique <a routerLink="/createUser">aqui</a> para criar um conta.</div> -->
                    
                  </div>

                </div>
           
            </form>
        
    </div>
</div>
       

       

       

        

    
</div>




