<div class="grid-container">
  <!--  <h1 class="mat-h1">Dashboard</h1>-->

  <!--  Inserir  Loading durante o carregamento dos cartões -->
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let book of books$ | async">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            {{ book.titulo }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-sm-image src="https://picsum.photos/200/300" alt="">
        <mat-card-content class="dashboard-card-content">
          <div>{{ book.autor }}</div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>

