

<div  class="" style="background-color: #6E757D;">
  
  <div class="container" style="padding-bottom:9%;">
  <div class="row">
    <form class="col-md-4" style="margin-top: 12%; margin-left: 7%;">

      <div class="card" style="width: 26rem;">
  <div class="card-body">
    <!-- Form Name -->
      <h1 class="h3 mb-3 font-weight-normal">Crie a sua conta</h1>
     

      <!-- NOME-->
      <div class="form-group">
        <!-- <label class=" control-label" for="nomeUsuario">Nome:</label> -->
        <input id="nomeUsuario" type="text" placeholder="nome" class="form-control input-md" required=""
          [(ngModel)]="nome" name="nomeUsuario">

      </div>

      <!-- EMAIL-->
      <div class="form-group">
        <!-- <label class="control-label" for="autorLivro">Email:</label> -->

        <input id="autorLivro" name="autorLivro" type="email" placeholder="email" class="form-control input-md" required=""
          [(ngModel)]="email">

      </div>

      <div class="form-group">
        <!-- <label>Curso:</label> -->
              <div>
                <select class="form-control" [(ngModel)]="courseName" name="nameSelection">
                  <option label="Selecione o seu curso"></option>
                  <option *ngFor="let course of courses" placeholder=" "> {{course.nome}} </option>
                </select>
              </div>

      </div>

              


      <!-- SENHA-->
      <div class="form-group">
        <!-- <label class="control-label" for="password">Senha:</label> -->
        <div class="">
          <input id="password" name="password" type="password" placeholder="senha" class="form-control input-md"
            [(ngModel)]="password">
        </div>
      </div>

   

              



      <!-- BOTÂO SUBMETER -->
      <div class="form-group" style="margin-top: 20px;">
          <!--diretiva (change) executa função apenas uma vez-->
          <button class="btn btn-lg btn-primary btn-dark btn-block"  type="button" (click)="createUser()">Enviar</button>
      </div>

    
  </div>
</div>

      
    </form>

    <div class="col-md-4" style="margin-left: 16%; margin-top: 5%;">
      <img src="../../assets/images/technology.png" class="" style="width: 120%;" >
    </div>

  </div>
</div>
</div>





