<div class="container" style="margin-top:20px; margin-bottom: 20px">
  <div class="row justify-content-center">
    <form class="col-md-4" (ngSubmit)=createBook()>

      <!-- Form Name -->
      <legend>Cadastre-se</legend>

      <!-- NOME-->
      <div class="form-group">
        <label class=" control-label" for="nomeUsuario">Nome</label>
        <input id="nomeUsuario" type="text" placeholder="" class="form-control input-md" required=""
          [(ngModel)]="nome" name="nomeUsuario">

      </div>

      <!-- EMAIL-->
      <div class="form-group">
        <label class="control-label" for="autorLivro">Email</label>

        <input id="autorLivro" name="autorLivro" type="email" placeholder="" class="form-control input-md" required=""
          [(ngModel)]="email">

      </div>


      <!-- SENHA-->
      <div class="form-group">
        <label class="control-label" for="password">Senha</label>
        <div class="">
          <input id="password" name="password" type="text" placeholder="" class="form-control input-md"
            [(ngModel)]="password">
        </div>
      </div>

      <!-- USERNAME-->
      <!-- <div class="form-group">
        <label class=" control-label" for="username">Username</label>
        <div class="">
          <input id="username" name="username" type="text" placeholder="" class="form-control input-md"
            [(ngModel)]="username">
        </div>
      </div> -->

              <label>Curso</label>
              <div>
                <select class="form-control" [(ngModel)]="courseName" name="nameSelection">
                  <option *ngFor="let course of courses"> {{course.nome}} </option>
                </select>
              </div>

      <!-- BOTÂO SUBMETER -->
      <div class="form-group" style="margin-top: 20px;">
          <!--diretiva (change) executa função apenas uma vez-->
          <button class="btn btn-primary"  type="button" (click)="createBook()">Submeter</button>
      </div>

    </form>
  </div>
</div>


