
<section class="section-content bg padding-y" style="padding-top: 1%;">
    <div class="container">
    
    <div class="row">
        
        <main class="col-md-9 mx-auto" style="margin-bottom: 8%;">
    
            <tr>
                <article class="card card-product">
                    <div class="card-body">
                    <div class="row">
                        <aside class="col-sm-3" style="margin-top: 5%;">
                            <div class="img-wrap"><img src="{{livro['urlFoto']}}" style="width: 100%; padding-bottom: 5%;"></div> 
                            <!-- transform: rotate(90deg) -->
                        </aside> <!-- col.// -->
                        <article class="col-sm-6 mx-auto">
                                <h4 class="title" style="margin-top: 2%;"> {{livro['titulo']}}</h4>
                              
                                <dl class="dlist-align" style="margin-top: 2%;">
                                  <dt>Título</dt>
                                  <dd><input [(ngModel)]="titulo" [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{livro['titulo']}}"></dd>
                                </dl>  <!-- item-property-hor .// -->
            
                    
                                
                                <dl class="dlist-align">
                                  <dt>Descrição</dt>
                                  <dd><textarea [(ngModel)]="descricao" [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{livro['descricao']}}"></textarea></dd>
                                </dl>  <!-- item-property-hor .// -->

                                <dl class="dlist-align">
                                  <dt>Autor</dt>
                                  <dd><input [(ngModel)]="autor" [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{livro['autor']}}"></dd>
                                </dl>  <!-- item-property-hor .// -->

                                <dl class="dlist-align">
                                  <dt>Preco</dt>
                                  <dd><input [(ngModel)]="preco" [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{livro['preco']}}"></dd>
                                </dl>  <!-- item-property-hor .// -->
                           
                            
                        </article> <!-- col.// -->
                        
                        


                        

                   
                    </div> <!-- row.// -->
                    <div class="row">
                      <div class="col-sm-3 mx-auto" >
                        <input type="button" style="margin-top: 3%;" name="" class="btn btn-lg btn-block btn-outline-dark" (click)="editBookLiterary()" value="Salvar">
                      </div>
                          
                        </div>
                    </div> <!-- card-body .// -->
                </article> <!-- card product .// -->
            </tr>
  
        </main> <!-- col.// -->

    </div>
    
    </div> <!-- container .//  -->
    </section>


