
     <div class="container" style="margin-top:20px; margin-bottom: 20px">
        <div class="row justify-content-center">
          <form class="col-md-4">
            
             <!-- Form Name -->
            <legend>Anunciar Livro</legend>
            
            <!-- TÍTULO-->
            <div class="form-group">

                <label class=" control-label" for="tituloLivro">Título</label>  
               
                <input id="tituloLivro" name="tituloLivro" type="text" placeholder="" class="form-control input-md" required="" [(ngModel)]="titulo" >
            
            </div>
          
            <!-- AUTOR-->
            <div class="form-group">
              <label class="control-label" for="autorLivro">Autor</label>  
             
              <input id="autorLivro" name="autorLivro" type="text" placeholder="" class="form-control input-md" required="" [(ngModel)]="autor">
              
              
            </div>


              <!-- CURSO -->
        <div class="form-group">
          <label class=" control-label" for="selectbasic">Curso</label>
        
            <select id="selectbasic" name="selectbasic" class="form-control" [(ngModel)]="curso">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
            </select>
          
        </div>

        <!-- PERÌODO-->
        <div class="form-group">
          <label class=" control-label" for="selectbasic">Período</label>
          <div class="">
            <select id="selectbasic" name="selectbasic" class="form-control" [(ngModel)]="periodo">
              <option value="1">1º</option>
              <option value="2">2º</option>
            </select>
          </div>
        </div>
        
        <!-- DISCIPLINA-->
        <div class="form-group">
          <label class=" control-label" for="disciplinaLivro">Disciplina</label>  
          <div class="">
          <input id="disciplinaLivro" name="disciplinaLivro" type="text" placeholder="" class="form-control input-md" [(ngModel)]="disciplina">
          <span class="help-block">disciplina na qual o livro é usado</span>  
          </div>
        </div>
         
        <!-- DESCRIÇÂO -->
        <div class="form-group">
          <label class=" control-label" for="descricaoLivro">Descrição</label>
          <div class="">                     
            <textarea class="form-control" id="descricaoLivro" name="descricaoLivro" [(ngModel)]="descricao">insira uma breve descrição </textarea>
          </div>
        </div>
        
        <!-- URL FOTO-->
        <div class="form-group">
          <label class=" control-label" for="urlFotoLivro" [(ngModel)]="urlFoto">URL da Foto</label>  
          <div class="">
          <input id="urlFotoLivro" name="urlFotoLivro" type="text" placeholder="" class="form-control input-md">
          <span class="help-block">URL de foto do livro</span>  
          </div>
        </div>
        
        <!-- BOTÂO SUBMETER -->
        <div class="form-group">
          <label class=" control-label" for="criarLivroBotao"></label>
          <div class="">
            <button id="criarLivroBotao" name="criarLivroBotao" class="btn btn-primary">Submeter</button>
          </div>
        </div>
        

          
          </form>   
        </div>
      </div>

        
        
    
        
   
